.vgt-wrap.rtl {
	direction: rtl;
	.vgt-global-search__actions {
		@apply ml-0;
		margin-right: 0.45rem;
		.button + .button {
			@apply ml-0 mr-1;
		}
	}
	.vgt-table {
		th.line-numbers, th.vgt-checkbox-col {
			border-right: none;
			border-left: 1px solid $datatable-header-border-color;
		}
		th {
			&.sorting {
				[data-fa-pseudo-element=":before"] {
					right: auto;
					left: 1.7rem;
				}
				[data-fa-pseudo-element=":after"] {
					right: auto;
					left: 1rem;
				}
			}
		}
		tr:first-child th:first-child {
			border-top-right-radius: $datatable-border-radius;
		}
		tr:first-child th:last-child {
			border-top-left-radius: $datatable-border-radius;
		}
		tr:last-child th.line-numbers:first-child {
			border-bottom-right-radius: $datatable-border-radius;
		}
	}
	.vgt-selection-info-row {
		a {
			@apply mr-3;
		}
	}	
}
