.button, .paginate a {
    @apply inline-block text-center no-underline rounded-sm select-none align-middle whitespace-no-wrap px-4 py-2 leading-tight cursor-pointer;
    color: config('ls.buttons.default.text-color') !important;
    background-color: config('ls.buttons.default.background-color');
    transform: scale(1);
    transition: config('ls.buttons.default.transition');
    font-weight: config('ls.buttons.default.font-weight');
    &:hover {
        @apply no-underline;
        background-color: config('ls.buttons.default.hover.background-color');
        transform: scale(.985);
    }
    &:focus {
        @apply outline-none shadow-button;
    }
    &:active {
        transform: scale(.97);
    }
    &:disabled {
        @apply pointer-events-none opacity-50;
    }
}

a.success, button.success, [type="button"].success, [type="reset"].success, [type="submit"].success {
    background-color: config('ls.buttons.success.background-color');
    &:hover {
        background-color: config('ls.buttons.success.hover.background-color');
    }
}
a.danger, button.danger, [type="button"].danger, [type="reset"].danger, [type="submit"].danger {
    background-color: config('ls.buttons.danger.background-color');
    &:hover {
        background-color: config('ls.buttons.danger.hover.background-color');
    }
}
a.info, button.info, [type="button"].info, [type="reset"].info, [type="submit"].info {
    background-color: config('ls.buttons.info.background-color');
    &:hover {
        background-color: config('ls.buttons.info.hover.background-color');
    }
}
a.warning, button.warning, [type="button"].warning, [type="reset"].warning, [type="submit"].warning {
    background-color: config('ls.buttons.warning.background-color');
    &:hover {
        background-color: config('ls.buttons.warning.hover.background-color');
    }
}
