.navbar {
    @apply shadow py-2 px-4;
    background: $navbar-background;
}

.navbar-fixed {
    @apply fixed pin-t pin-l pin-r;
}

.navbar-container {
    @apply relative flex flex-wrap items-center justify-between w-full mx-auto px-4;
    @media (min-width: 576px) {
        max-width: 576px;
    }
    @media (min-width: 768px) {
        max-width: 768px;
    }
    @media (min-width: 992px) {
        max-width: 992px;
    }
    @media (min-width: 1200px) {
        max-width: 1200px;
    }
}

.navbar-brand {
    @apply inline-block mr-4 text-xl leading-normal whitespace-no-wrap;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
}

.navbar-dot, .navbar-status {
    background: $links-color-hover;
}

.navbar-menu {
    @apply flex flex-row items-center pl-0 mb-0 list-reset;
    > .navbar-item {
        @apply ml-4;
        > .navbar-link, > .navbar-notify {
            @apply relative;
        }
        > .navbar-notify {
            @apply mr-2;
            > svg {
                @apply text-xl;
            }
            > .navbar-dot {
                @apply absolute rounded-full z-10 text-xs text-center;
                top: 2px;
                right: -6px;
                width: 14px;
                height: 14px;
            }
        }
        > .navbar-avatar {
            @apply flex flex-row items-center no-underline;
            > img {
                @apply ml-1;
                height: 2.3rem;
                width: 2.3rem;
            }
            > .navbar-avatar-info {
                @apply flex flex-col;
                > span:nth-child(1) {
                    @apply text-sm mb-1;
                }
                > span:nth-child(2) {
                    @apply flex flex-row items-center text-xs;
                    > .navbar-status {
                        @apply inline-block border-2 border-solid rounded-full mr-1;
                        width: 12px;
                        height: 12px;
                    }
                }
            }
        }
    }
}
