.navbar {
    @apply shadow py-2 px-4;
    background: $navbar-background;
    &.navbar-fixed {
        @apply fixed pin-t pin-l pin-r z-30;
    }
    .navbar-main {
        @apply relative flex flex-col flex-wrap items-center justify-between;
        @screen sm {
            @apply flex-row;
        }
        .navbar-brand {
            @apply inline-block text-xl leading-normal whitespace-no-wrap;
            padding-top: 0.3125rem;
            padding-bottom: 0.3125rem;
            > a {
                @apply no-underline;
            }
        }
    }
}

.navbar-dot, .navbar-status {
    background: $links-color-hover;
}

.navbar-menu {
    @apply flex flex-row items-center pl-0 mb-0 list-reset;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    > .navbar-item {
        @apply relative ml-4;
        &:nth-child(1) {
            @apply ml-0;
        }
        > .navbar-link, > .navbar-notify {
            @apply relative no-underline;
        }
        > .navbar-link.select {
            @apply underline;
        }
        > .navbar-notify {
            @apply mr-2;
            > .svg-inline--fa {
                @apply text-xl;
            }
            > .navbar-dot {
                @apply absolute rounded-full z-10 text-xs text-center;
                top: 2px;
                right: -6px;
                width: 14px;
                height: 14px;
            }
        }
        > .navbar-avatar {
            @apply flex flex-row items-center no-underline;
            > img {
                @apply ml-1;
                height: 2.3rem;
                width: 2.3rem;
            }
            > .navbar-avatar-info {
                @apply flex flex-col;
                > span:nth-child(1) {
                    @apply text-sm mb-1;
                }
                > span:nth-child(2) {
                    @apply flex uppercase flex-row items-center text-xs;
                    font-weight: bold;
                    > .navbar-status {
                        @apply inline-block border-2 border-solid rounded-full mr-1;
                        
                        width: 12px;
                        height: 12px;
                    }
                }
            }
        }
        > .navbar-dropdown {
            @apply absolute rounded z-20 list-reset shadow;
            bottom: -6.5rem;
            right: 0;
            width: 150px;
            background: $navbar-dropdown-background;
            border: 0.3rem solid $navbar-dropdown-background;
            > .navbar-dropdown-item {
                > .navbar-dropdown-link {
                    @apply block rounded no-underline p-2 mb-1;
                    background: $navbar-dropdown-link-background;
                    transition: all $navbar-dropdown-link-transition-duration $navbar-dropdown-link-transition-function;
                    &:hover, &:focus {
                        background: $navbar-dropdown-link-background-hover;
                        color: inherit;
                    }
                    &:last-child {
                        @apply mb-0;
                    }
                }
            }
        }
    }
}
