body {
    @apply font-sans;
    font-weight: config('ls.body.font-weight');
    background-color: config('ls.body.background-color');
    color: config('ls.body.text-color');
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
    font-weight: config('ls.headings.font-weight');
    color: config('ls.headings.text-color');
}

::selection {
    background-color: config('ls.selection.background-color');
    color: config('ls.selection.text-color');
    text-shadow: config('ls.selection.text-shadow');
}

a {
    color: config('ls.links.text-color');
    transition: config('ls.links.transition');
    text-decoration: config('ls.links.text-decoration');
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:hover, a:focus {
    color: config('ls.links.hover.text-color');
    text-decoration: config('ls.links.hover.text-decoration');
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
    outline: 0;
}

hr {
    @apply h-px my-5;
    background-color: config('ls.horizonal-rules.background-color');
}
