.notifications {
    bottom: 1rem !important;
    right: 1rem !important;
    width: auto !important;
    max-width: 270px !important;
    @screen sm {
        max-width: 320px !important;
    }
}
.notification {
    @apply justify-between content-start px-4 py-4 m-2 rounded-sm;
    display: flex !important;
    background-color: config('ls.notifications.background-color') !important;
    color: config('ls.notifications.text-color');
    box-shadow: config('ls.notifications.box-shadow') !important;
    .close {
        @apply ml-4 cursor-pointer;
        &:hover, &:focus {
            @apply ml-4 cursor-pointer opacity-75;
        }
    }
}
