.paginate {
    @apply flex justify-between;
    .previous, .next {
        .svg-inline--fa {
            font-size: 0.85rem;
        }
    }
    ul {
        @apply flex list-reset;
        li:not(:last-child) {
            @apply mr-2;
            span {
                @apply block px-2 py-2;
            }
            .select {
                @apply pointer-events-none;
                transform: scale(.9);
                background: $pagination-selected-background;
            }
        }
    }
}
