.sidebar {
    @apply w-4/5 px-4;
    color: config('ls.sidebar.text-color');
    @screen sm {
        margin-top: 7rem;
    }
    @screen md {
        @apply px-2;
        width: 30%;
    }
    @screen lg {
        @apply w-1/5 px-2;
    }
    .sidebar-title {
        @apply text-base uppercase mb-5;
        font-weight: 600;
    }
    .sidebar-menu {
        @apply list-reset flex flex-col mb-5;
        > .sidebar-item {
            > .sidebar-link {
                @apply block flex flex-row no-underline p-2 px-0;
                color: config('ls.sidebar.menu.links.text-color');
                border-left: config('ls.sidebar.menu.links.border-left');
                .sidebar-link-icon {
                    @apply block;
                    .svg-inline--fa {
                        @apply mx-2;
                        color: config('ls.sidebar.menu.links.icons.text-color');
                        transition: config('ls.sidebar.menu.links.icons.transition');
                    }
                }
                &:hover, &:focus {
                    color: config('ls.sidebar.menu.links.hover.text-color');
                    border-left: config('ls.sidebar.menu.links.hover.border-left');
                }
                &:hover .sidebar-link-icon .svg-inline--fa, &:focus .sidebar-link-icon .svg-inline--fa {
                    color: config('ls.sidebar.menu.links.icons.hover.text-color');
                }
                &.select {
                    color: config('ls.sidebar.menu.links.select.text-color');
                    border-left: config('ls.sidebar.menu.links.select.border-left');
                    .sidebar-link-icon .svg-inline--fa {
                        color: config('ls.sidebar.menu.links.icons.select.text-color');
                    }
                }
            }
            > .sidebar-dropdown {
                @apply list-reset flex flex-col;
                margin-left: 1.25rem;
                > .sidebar-item {
                    > .sidebar-link {
                        @apply block flex flex-row no-underline p-2 px-4;
                        color: config('ls.sidebar.menu.dropdown.links.text-color');
                        border-left: config('ls.sidebar.menu.dropdown.links.border-left');
                        &:hover, &:focus {
                            color: config('ls.sidebar.menu.dropdown.links.hover.text-color');
                            border-left: config('ls.sidebar.menu.dropdown.links.hover.border-left');
                        }
                        &.select {
                            color: config('ls.sidebar.menu.dropdown.links.select.text-color');
                            border-left: config('ls.sidebar.menu.dropdown.links.select.border-left');
                        }
                    }
                }
            }
        }
    }
}
