.slideout-menu {
    display: none;
    height: 100vh;
    position: fixed;
    top: 9rem;
    bottom: 0;
    z-index: 0;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    @screen md {
        display: block;
        height: auto;
        position: relative;
        top: 0;
        overflow-y: hidden;
    }
}

.slideout-menu-left {
    left: 0;
}

.slideout-menu-right {
    right: 0;
}

.slideout-panel {
    background: $body-background-color;
    position: relative;
    z-index: 1;
    will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
}
