.table {
    @apply w-full border-collapse;
    background: $table-background-color;
    border-radius: $table-border-radius;
    thead, tfoot {
        @apply text-left uppercase;
        color: $table-header-and-footer-color;
        th {
            font-weight: 600;
            background: $table-header-and-footer-background-color;
        }
    }
    thead {
        border-bottom: 2px solid $table-header-and-footer-border-color;
    }
    tfoot {
        border-top: 2px solid $table-header-and-footer-border-color;
    }
    td, th {
        @apply py-2 px-4;
        color: $table-body-color;
    }
    td {
        border-bottom: 1px solid $table-row-border-color;
    }
    tr:first-child th:first-child {
        border-top-left-radius: $table-border-radius;
    }
    tr:first-child th:last-child {
        border-top-right-radius: $table-border-radius;
    }
    tr:last-child td:first-child {
        border-bottom-left-radius: $table-border-radius;
    }
    tr:last-child td:last-child {
        border-bottom-right-radius: $table-border-radius;
    }
    tr:last-child td {
        border-bottom: none;
    }
    tfoot {
        tr:last-child th:first-child {
            border-bottom-left-radius: $table-border-radius;
        }
        tr:last-child th:last-child {
            border-bottom-right-radius: $table-border-radius;
        }
    }
}
