// Fonts
$main-font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$main-text-color: config('colors.grey-darken');

// body
$body-background-color: config('colors.grey-lighten');

// Selection
$selection-background-color: config('colors.grey-light');

// Navbar
$navbar-background: config('colors.white');

// Links
$links-color: $main-text-color;
$links-color-hover: config('colors.grey-dark');
$links-color-transition-duration: 100ms;
$links-color-transition-function: ease;

// Sidebar
$sidebar-links-color: $links-color;
$sidebar-links-color-hover: config('colors.grey-semi-light');
$sidebar-icons-color: config('colors.grey-semi-light');
$sidebar-icons-color-hover: $links-color-hover;
$sidebar-icons-color-transition-function: 100ms;
$sidebar-icons-color-transition-duration: ease;
$sidebar-icons-color-select: $links-color-hover;
$sidebar-line-color: config('colors.grey-light');
$sidebar-line-color-hover: config('colors.grey');
$sidebar-line-color-select: $sidebar-icons-color-hover;
$sidebar-dropdowns-slide-transition-function: 100ms;
$sidebar-dropdowns-slide-transition-duration: ease;

// Inputs
//## input box ##
$input-box-border-color: config('colors.grey-semi-light');
$input-box-transition-function: 200ms;
$input-box-transition-duration: ease;
//## input file ##
$input-file-background-color: #dae1e7;
$input-file-background-color-hover: lighten(#dae1e7, 5%);
$input-file-color: $main-text-color;
$input-file-transition-function: 200ms;
$input-file-transition-duration: ease;
//## input select ##
$input-select-background-color: config('colors.white');
$input-select-color: $main-text-color;
$input-select-border-color: config('colors.grey-semi-light');
$input-select-multiple-selected-background-color: config('colors.grey-dark');
$input-select-transition-duration: 200ms;
$input-select-transition-function: ease;
//## input textarea ##
$input-textarea-border-color: config('colors.grey-semi-light');
$input-textarea-transition-duration: 200ms;
$input-textarea-transition-function: ease;

// Buttons
$button-color: $main-text-color;
$button-background-color: #dae1e7;
$button-background-color-hover: lighten(#dae1e7, 5%);
$button-transition-function: 200ms;
$button-transition-duration: ease;

$success-button-background-color: #cbf2cf;
$success-button-background-color-hover: lighten(#cbf2cf, 5%);

$danger-button-background-color: #ffd0cd;
$danger-button-background-color-hover: lighten(#ffd0cd, 5%);

$info-button-background-color: #cef2f2;
$info-button-background-color-hover: lighten(#cef2f2, 5%);

$warning-button-background-color: #ffe1c6;
$warning-button-background-color-hover: lighten(#ffe1c6, 5%);

// Horizonal rule
$horizonal-rule-background-color: config('colors.grey-light');

// Pagination
$pagination-selected-background: darken(#dae1e7, 10%);

// Notification
$notification-background-color: config('colors.black');
$notification-color: config('colors.white');
$notification-shadow: 0 0px 8px black;

// Alerts
$success-alert-icon-color: #cbf2cf;
$success-alert-border-top-color: darken(#cbf2cf, 15%);
$success-alert-title-color: darken(#cbf2cf, 15%);

$danger-alert-icon-color: #ffd0cd;
$danger-alert-border-top-color: darken(#ffd0cd, 15%);
$danger-alert-title-color: darken(#ffd0cd, 15%);

$info-alert-icon-color: #cef2f2;
$info-alert-border-top-color: darken(#cef2f2, 15%);
$info-alert-title-color: darken(#cef2f2, 15%);

$warning-alert-icon-color: #ffe1c6;
$warning-alert-border-top-color: darken(#ffe1c6, 15%);
$warning-alert-title-color: darken(#ffe1c6, 15%);

// Table
$table-background-color: config('colors.grey-lighter');
$table-border-radius: 0.25em;
$table-header-and-footer-color: config('colors.grey-darker');
$table-header-and-footer-border-color: config('colors.grey');
$table-body-color: config('colors.grey-darker');
$table-row-border-color: config('colors.grey');
$table-header-and-footer-background-color: config('colors.grey-lighton');

// Datatable
$datatable-text-disabled: #909399;
$datatable-background-color: config('colors.grey-lighter');
$datatable-border-radius: 0.25em;
$datatable-body-color: config('colors.grey-darker');
$datatable-header-border-color: config('colors.grey');
$datatable-header-background-color: config('colors.grey-lighton');
$datatable-row-border-color: config('colors.grey');
$datatable-clickable-row-hover-background-color: config('colors.grey-light');
$datatable-selection-info-background-color: #faf0c1;
$datatable-selection-info-color: #d3aa3b;
