// Fonts
$main-font-family: 'Source Sans Pro', sans;
$main-text-color: config('colors.grey-darken');

// body
$body-background-color: config('colors.grey-lighten');

// Navbar
$navbar-background: config('colors.white');

// Links
$links-color: $main-text-color;
$links-color-hover: config('colors.grey-dark');
$links-color-transition-duration: 100ms;
$links-color-transition-function: ease;

// Sidebar
$sidebar-links-color: $links-color;
$sidebar-links-color-hover: config('colors.grey-semi-light');
$sidebar-icons-color: config('colors.grey-semi-light');
$sidebar-icons-color-hover: $links-color-hover;
$sidebar-icons-color-transition-function: 100ms;
$sidebar-icons-color-transition-duration: ease;
$sidebar-icons-color-select: $links-color-hover;
$sidebar-line-color: config('colors.grey-light');
$sidebar-line-color-hover: config('colors.grey');
$sidebar-line-color-select: $sidebar-icons-color-hover;
$sidebar-dropdowns-slide-transition-function: 100ms;
$sidebar-dropdowns-slide-transition-duration: ease;

// input
//## input box ##
$input-box-border-color: config('colors.grey-dark');
//## input file ##
$input-file-background-color: config('colors.grey-light');
$input-file-background-color-hover: config('colors.grey-lighton');
$input-file-color: $main-text-color;
$input-file-transition-function: 100ms;
$input-file-transition-duration: ease;
//## input select ##
$input-select-background-color: config('colors.white');
$input-select-color: $main-text-color;
$input-select-border-color: config('colors.grey-dark');
//## input textarea ##
$input-textarea-border-color: config('colors.grey-dark');
//## input button ##
$input-button-color: $main-text-color;
$input-button-background-color: config('colors.grey-light');
$input-button-background-color-hover: config('colors.grey-lighton');
$input-button-transition-function: 100ms;
$input-button-transition-duration: ease;