.vgt-global-search {
	@apply flex flex-no-wrap items-stretch;
	margin-bottom: 0.45rem;
	.button {
		font-size: 0.8rem;
		padding-top: .4rem;
		padding-bottom: .4rem;
		border: 1px solid transparent;
	}
	.button + .button {
		@apply ml-1;
	}
}

.vgt-global-search__input {
	@apply relative flex-grow;
}

// .vgt-global-search__actions {
// 	margin-left: 0.5rem;
// }

.vgt-selection-info-row {
	@apply rounded py-2 px-4;
	font-size: 0.8rem;
	font-weight: 600;
	background-color: config('ls.datatables.selection-count.background-color');
	margin-bottom: 0.45rem;
	color: config('ls.datatables.selection-count.text-color');
	a {
		@apply inline-block no-underline ml-3;
		font-weight: 600;
	}
}
