.vgt-input {
	@apply block w-full px-2 leading-tight rounded-sm;
	font-size: 0.8rem;
	padding-top: .4rem;
	padding-bottom: .4rem;
	background-color: config('ls.datatables.input.text.background-color');
	color: config('ls.datatables.input.text.text-color');
	border: config('ls.datatables.input.text.border');
	-webkit-appearance: none;
	box-sizing: border-box;
	transition: config('ls.datatables.input.text.transition');
	&::placeholder {
		opacity: 0.3;
	}
	&:focus {
		@apply outline-none shadow-outline;
	}
}

.vgt-select {
	@apply relative block w-full px-2 pr-5 leading-tight rounded-sm;
	font-size: 0.8rem;
	padding-top: .4rem;
	padding-bottom: .4rem;
	background-color: config('ls.datatables.input.select.background-color');
	color: config('ls.datatables.input.select.text-color');
	border: config('ls.datatables.input.select.border');
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='41' height='26' viewBox='0 0 41 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23000' d='M0 5.382l19.983 19.983L40.14 5.208 34.932 0 19.869 15.062 4.84.032z' fill-rule='evenodd'/%3E%3C/svg%3E");
	background-position: right .4rem center;
	background-repeat: no-repeat;
	background-size: .75rem;
	-webkit-appearance: none;
	transition: config('ls.datatables.input.select.transition');
	&:focus {
		@apply outline-none shadow-outline;
	}
}
