table.vgt-table {
	@apply border-collapse w-full max-w-full table-auto;
	background-color: config('ls.datatables.background-color');
	border-radius: config('ls.datatables.border-radius');
	margin-bottom: 0.45rem;
	&.vgt-fixed-header {
		@apply absolute z-10;
	}
	.button {
		@apply px-3 py-1;
		font-size: 0.8rem;
	}
	.button + .button {
		@apply ml-1;
	}
	tr:last-child td {
        border-bottom: none;
    }
	tr.clickable {
		@apply cursor-pointer;
	  	&:hover {
	    	background-color: config('ls.datatables.row.hover.background-color');
	  	}
	}
	tr:first-child th:first-child {
        border-top-left-radius: config('ls.datatables.border-radius');
    }
    tr:first-child th:last-child {
        border-top-right-radius: config('ls.datatables.border-radius');
	}
	td {
		@apply py-2 px-4 align-top;
	  	border-bottom: config('ls.datatables.row.border-bottom');
	  	color: config('ls.datatables.text-color');
	}
    tr:last-child td:last-child {
        border-bottom-right-radius: config('ls.datatables.border-radius');
    }
    tr:last-child td {
        border-bottom: none;
	}
}
