.vgt-right-align {
	@apply text-right;
}

.vgt-left-align {
	@apply text-left;
}

.vgt-center-align {
	@apply text-center;
}

.vgt-pull-left {
	float: left !important;
}

.vgt-pull-right {
	float: right !important;
}

.vgt-clearfix::after {
	display: block;
	content: "";
	clear: both;
}

.vgt-responsive {
	@apply w-full overflow-x-auto;
}

.vgt-text-disabled {
	color: config('ls.datatables.disabled.text-color');
}
